@font-face {
  font-family: "NeueHaasGroteskDisp Pro Md";
  src: url("../fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
    url("../fonts/NHaasGroteskDSPro-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasGroteskText Pro";
  src: url("../fonts/NHaasGroteskTXPro-55Rg.woff2") format("woff2"),
    url("../fonts/NHaasGroteskTXPro-55Rg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
